*.o
Makefile.in
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
missing
ylwrap
Makefile
config.log
config.status

src/.deps/
src/Makefile.in
src/Makefile
src/parser.c
src/parser.h
src/scanner.c
src/collectd-agent
#*
.#*
